In [ ]:
# Imports
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [ ]:
# Load Dataset
df = pd.read_csv("C:\\Users\\rahim\\Downloads\\Market Basket Analysis for Online Retail Dataset\\OnlineRetail.csv", encoding="latin1")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
# Initial Exploration
# Shape of dataset
print("Rows, Columns:", df.shape)

# Data types and nulls
df.info()

# Missing values count
df.isnull().sum()

Rows, Columns: (541909, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
# Statistical Summary (Numeric Columns)
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
# Check Duplicates
duplicates = df.duplicated().sum()
print("Total duplicates:", duplicates)

# Remove duplicates
df = df.drop_duplicates()
print("New shape after removing duplicates:", df.shape)

Total duplicates: 5268
New shape after removing duplicates: (536641, 8)

In [ ]:
# Handle Missing Values
print("Missing values before dropping:", df.isnull().sum())

# Drop rows where CustomerID is missing
df = df.dropna(subset=['CustomerID'])

print("Missing values after dropping CustomerID nulls:")
print(df.isnull().sum())
print("Shape:", df.shape)

Missing values before dropping: InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135037
Country             0
dtype: int64
Missing values after dropping CustomerID nulls:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
Shape: (401604, 8)

In [ ]:
# Remove Canceled Orders
# Remove invoices starting with "C"
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]
print("Shape after removing cancellations:", df.shape)

Shape after removing cancellations: (392732, 8)

In [ ]:
# Remove Negative or Zero Quantities
df = df[df['Quantity'] > 0]
print("Shape after removing negative quantities:", df.shape)

Shape after removing negative quantities: (392732, 8)

In [ ]:
# Remove Invalid Prices
df = df[df['UnitPrice'] > 0]
print("Shape after removing invalid UnitPrice:", df.shape)

Shape after removing invalid UnitPrice: (392692, 8)

In [ ]:
# Clean Description Text
df['Description'] = df['Description'].str.strip().str.lower()
df['Description'].head()

0     white hanging heart t-light holder
1                    white metal lantern
2         cream cupid hearts coat hanger
3    knitted union flag hot water bottle
4         red woolly hottie white heart.
Name: Description, dtype: object

In [ ]:
# Convert Data Types
# Convert CustomerID to integer
df['CustomerID'] = df['CustomerID'].astype(int)

# Convert InvoiceDate to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  int32
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(4)
memory usage: 25.5+ MB

In [ ]:
# Create New Feature: Total Price
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df[['Quantity', 'UnitPrice', 'TotalPrice']].head()

   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [ ]:
# Final Clean Dataset Summary
print("Final dataset shape:", df.shape)
print("\nMissing values:\n", df.isnull().sum())
print("\nSample rows:")
df.head()

Final dataset shape: (392692, 9)

Missing values:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
TotalPrice     0
dtype: int64

Sample rows:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [ ]:
# Export Clean Dataset
df.to_csv("OnlineRetail_cleaned.csv", index=False)
print("Cleaned dataset exported successfully!")

Cleaned dataset exported successfully!